/* Xử lý phần header */
#header {
    /* Vị trí */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* Cấu trúc */
    height: var(--header-height);
    box-shadow: 0px 0px 40px 10px var(--box-shadow-color);
    background-color: var(--black-color);

    /* Đặc tính */
    display: flex;
    /* Set các con nằm ngàng */
    position: relative;
    /* Xóa xong cái này ảo ma vãi */
    /* Khi này chặn container ăn vào header */

    justify-content: space-between;
    /* Đăỷ xa 2 phần ra 2 hướng */
    
}

/* Nửa bên trái header */
#nav {
    /* Đặc tính */
    display: flex;
    /* Set các con nằm ngang */
    position: relative;
    /* Chiếm không gian riêng biệt, không ảnh hưởng các phần tử khác*/
    /* Ở đây hình như có hay không cũng được:)) */
}

/* Các lựa chọn trên header */
#nav>li,
.header_logo_user li {
    position: relative;
    /* Chiếm không gian riêng biệt, không ảnh hưởng các phần tử khác*/
    /* Để dùng kết hợp với subnav */
}

/* Logo chính và logo user */
.header_logo {
    /* Cấu trúc */
    width: var(--header-height);
    height: var(--header-height);

    /* Chữ*/
    color: var(--white-color);
    font-size: 30px;

    /* Đặc tính */
    /* 3 dòng căn giữa logo*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Các lựa chọn ở bên trái header - nav */
#nav>li{
    /* Chữ */
    line-height: var(--header-height);
    /* Content chữ sẽ chiếm cả thẻ chứa nó (được căn giữa)*/
    font-weight: bold;
    color: white;
    
    /* Cấu trúc */
    width: 180px;
    text-align: center;

    /* Đặc tính */
    display: block;
    /* Bỏ dấu đầu câu mặc định của li */
    /* Mỗi 1 li là 1 khối riêng biệt */
}

/* Khi nav>li hover thì subnav */
#nav>li:hover .subnav, .header_logo:hover .subnav{
    display: grid;
    z-index: 10;
    /* Tách thành 2 dòng lựa chọn */
}

/* Hover vào các lựa chọn trên header */
#nav>li:hover,
.header_logo_user:hover {
    /* Chữ */
    color: var(--nav-hover-color);

    /* Đặc tính */
    cursor: pointer;
}

#nav>li:hover .nav_li_content,
.header_logo_user:hover .nav_li_content{
    /* Hiệu ứng */
    transform: translateY(-2px);
    transition: all ease-in-out 0.2s;
    /* Hiệu ứng cho chữ đi lên và subnav không đi theo*/
}

/* Xử lý subnav lựa chọn */
/* Các subnav Có thể tái sử dụng lại */
/* .subnav {
    Đã viết trong base.css
}

.subnav li {
    Đã viết trong base.css
} */

#nav .subnav li, .header_logo_user .subnav li{
    /* 1 nửa đã viết trong base */
    font-weight: bold;
}

/* Xử lý phần logo*/
/* .header_logo_user {
    Đã xử lý bên trên
} */

/* .header_logo_user:hover {
     đã xử lý bên trên 
} */

.header_logo_user .subnav {
    /* Căn vị trí bên phải */
    right: 0;
}

.header_logo_user .subnav li{
    /* Đã viết 1 nửa trên cung với #nav .subnav li*/
    text-align: right;
    line-height: var(--header-height);
}

/* Xử lý phần modal thông tin cá nhân*/
/* 2. Modal */
/* Lớp modal chiêm full màn hình, chặn mọi thao tác*/
.modal {
    /* Đặc tính */
    display: none;
    position: fixed;
    /* Tạo phần tử có vị trí cố định */

    z-index: 100;
     /* set lớn hơn của #nav>li */
    /* z-index default = 0 */
    /* Sử dụng để đẩy modal_body lên trên gần mắt người dùng */

    /* Vị trí */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* 4 chỉ số chiếm full màn hình */
}

/* Lớp phủ nhìn xuyên qua */
.modal_overlay {
    /* Đặc tính */
    position: absolute;
    /* Con kế thừa thuộc tính cha (.modal) */
    width: 100%;
    height: 100%;
    /* Chiều dài và rộng theo cha */

    /* Màu nền trong suốt */
    background: rgb(0, 0, 0, 0.4);
    /* Màu phủ trong suốt */
}

/* Xử lý modal_body*/
/* Hiệu ứng xuất hiện*/
@keyframes Growth {
    from {
        opacity: 0;
        /*Làm mờ*/
        transform: scale(0);
        /* To dần */
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Phần chính để chứa full nội dung */
.modal_body {
    /* Cấu trúc */
    background-color: var(--white-color);
    border-radius: var(--border-radius-big);
    padding: 30px;

    /* Vị trí */
    margin: auto;
    /* Căn giữa nội dung toàn trang*/

    /* Đặc tính */
    position: relative;
    /* Không ảnh hưởng kích thước phần tử khác, cũng giúp modal_body nổi lên trên modal_overlay*/

    /* Hiệu ứng */
    animation: Growth ease-in 0.22s;
    /*Hiệu ứng ảnh to dần  */
}

/* Gần như modal_form */
.infor_form {
    width: 730px;
    display: block;
    z-index: 3;
}
/* Thẻ div chứa nút X */
.modal_close { 
    text-align: right;
}
.modal_close>i{
    cursor: pointer;
}

/* Form container + form chứa ảnh */
.infor_form_container_img{
    display: flex;
    /* 2 phần container và img được set nằm ngang */
}

/* XỬ lý khung hình ảnh bên phải form */
.infor_form_img{
    /* Cấu trúc */
    width: calc(100% - 45% - 40px);
    /* width infor_form - with container - margin-left */
    background-color: var(--button-hover-color);
    border-radius: var(--border-radius-big);
    
    /* Vị trí */
    margin-left: 40px;
    /* Tách biệt với container */

    /* Đặc tính */
    display: grid;
    /* Tách phần ảnh và nội dung chữ */
    justify-content: center;
    /* Căn giữa nội dung chữ theo chiều dọc */
}

/* Xử lý ảnh chèn vào */
.infor_form_img_PNG{
    width: 100%;
}
/* Xử lý text */
.infor_form_img>h1{
    text-align: center;
    height: 15px;
}
.infor_form_img>h3{
    text-align: center;
}

/* Container = Title + GroupInputs + button */
.infor_container{
    width: 45%;
}

/* Title information */
.infor_container_title{
    display: flex;
    margin-bottom: var(--border-radius-big);
}
.infor_container_title>h1{
    font-weight: 700;
}
/* Nhóm các input nhập vào */
.group_input {
    height: 90px;
    box-sizing: border-box;
}
/* Tiều đề của input nhập vào */
.modal_input_title_text {
    font-size: 1.3rem;
    height: 20px;
    margin-bottom: 5px;
}

.input_text_error{
    font-style: italic;
    font-size: 0.8rem;
    color: var(--error-text-color);
}

.input_text_gender{
    width: 50%;
    display: flex;
    overflow: hidden;
}

.infor_container_confirm {
    margin-top: 20px;
}

/* .input_title_text_gender:hover .subnav {
    display: grid;
} */

.infor_container_confirm_btn{
    margin-top: 15px;
    width: 100%;
}

.container{
    background: var(--linear-main-background);
    height: calc(100vh - var(--header-height));

    display: flex;
    align-items: center;
    justify-content: center;
}

.container_main{
    width: 95%;
    height: 90%;

    display: flex;
    position: relative;
}

/* Payment */
.container_main_function{
    width: 100%;
    height: 100%;
    position: absolute;
}

.payment_content{
    /* background-color: var(--white-color);
    border-radius: var(--border-radius-big); */

    width: 100%;
    height: 100%;
    position: absolute;
}

/* Payment effect */
.container_payment{
    background-color: var(--white-color);
    border-radius: var(--border-radius-big);

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

    position: relative;
    overflow: hidden;
    
    width: 100%;
    height: 100%;
}

.form-payment-container{
    position: absolute;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
}

form.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container_payment.active .sign-in{
    transform: translateX(100%);
}

form.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container_payment.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 3;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 3;
    }
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 4;
}

.container_payment.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    height: 100%;
    background-color: #c2bfbf;

    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container_payment.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
  
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    display: flex;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.toggel-panel-content{
    width: 80%;
}

.payment_title{
    background-color: var(--nav-hover-color);
    width: 20%;
} 

.payment_title>div{
    width: 100%;
    height: calc(100%/5);

    font-size: 3rem;
    font-weight:600;

    display: flex;
    align-items: center; 
    justify-content: center;
}


.toggle-left{
    transform: translateX(-200%);
}

.container_payment.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container_payment.active .toggle-right{
    transform: translateX(200%);
}


.container_payment .btn{
    width: 170px;
}


.toggel-panel-content img{
    margin-top: 30px;
    width: 80%;
}

.toggel-panel-content h1{
    margin-top: 30px;
    font-weight: 800;
    font-size: 2.5rem;
}

.toggel-panel-content h3{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.toggel-panel-content .btn{
    margin-top: 50px;
    margin-left: calc(50% - 170px/2);
}

.container_payment form{
    background-color: var(--white-color);    

    width: 95%;
    height: 95%;
}

.viewFee-container{
    padding: 20px;
}

.viewFee-container-title{
    width: 100%;
    display: flex;
    height: 40px;

    align-items: flex-end; /* Căn sát lề dưới */
}

.viewFee-container-title-icon{
    font-size: 20px;
    margin-right: 5px;
}

.viewFee-container-content-select-child{
    margin-top: 30px;
    width: 50%;

    position: relative;
    display: flex;
}

.payment_content .input_text{
    font-size: 1.3rem;
}

.viewFee-container-content-select-child i{
    position: absolute;
    right: 5px;
    top: 30%;
    pointer-events: none;
}

.viewFee-container-content-select-child .input_text{
    width: 100%;
}

.viewFee-container-content-select-child:hover .subnav{
    display: grid;
}

.viewFee-container-content-select-child .subnav{
    position: absolute;
    /* display: grid; */
    width: 100%;
    z-index: 2;
}

.viewFee-container-content-select-child .subnav li{
    display: flex;
    line-height: 40px;
}

.viewFee-container-fee{
    margin-top: 30px;
    position: relative;
}

.viewFee-container-fee-group-infor{
    position: relative;

    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.viewFee-container-fee-title{
    position: absolute;
    background-color: var(--white-color);
    z-index: 1;
}

.group-information-fee{
    margin-top: 13px;

    width: 100%;
    
    border: 1px solid var(--black-color);
    border-radius: var(--border-radius-big);
    padding: 30px;

    display: grid;
    /* display: flex;*/
}

.information-fee{
    margin-bottom: 10px;
    display: flex;
}

.information-fee>div{
    display: flex;
    align-items: center;
}

.information-fee>div:first-child{
    width: 50%;
    height: 100%;
    border-right: 2px solid var(--black-color);
    margin-right: 15px;
}

.viewFee-container-fee-input-money{
    padding-top: 30px;
    display: flex;
}

.group_input_money{
    width: 40%;
    margin-right: 5%;
}

.group_input_money .input_text{
    /* width: 40%; */
    margin-bottom: 30px;
}

.total_money{
    width: calc(100% - 40% - 5%);
    display: flex;

    align-items: center;
    justify-self: start;
}

.total_money h3{
    width: 35%;
}

.total_money_result{
    height: 100%;
    width: 65%;
    border: 1px solid var(--black-color);
    border-radius: 10px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;

    font-size: 2rem;
}





